@media (max-width: 576px) {
	.popup-form {
    	width: 90%!important;
	}
	.contacts-adress {
	    float: none;
	    margin: auto;
	    width: 100%;
	}
    .header h2 {
        font-size: 36px;
    }
    .about-description p {
        font-size: 14px;
    }
    .contacts h5 {
        font-size: 18px;
    }
    .portfolio h3 {
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 25px;
    }
    .carousel-sm {
        padding: 12px;
    }
    .header h1 {
        font-size: 54px;
    }
    .header p {
        font-size: 30px;
    }
    .btn-header {
        padding: 2% 5%;
    }
    .about-description h3 {
        font-size: 25px;
    }
}
@media (max-width: 992px) {
    .popup-form p {
	    font-size: 20px;
	}
    .right-column img {
        height: 100%;
    }
    .right-column {
        padding: 20px;
    }
    .popup-form {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .carousel-lg {
        display: block;
    }
    .carousel-sm {
        display: none;
    }
    .slide-side {
        height: 100%;
        margin: auto;
    }
    .slide-center {
        height: 100%;
    }
}
@media (max-width: 991px) {
    .carousel-lg {
        display: none;
    }
    .carousel-sm {
        display: block;
        margin-bottom: 50px;
        width: 90%;
        margin: auto;
        padding: 25px;
    }
    .slide-center {
        margin: 0;
    }
    .slide-wrapper {
        display: block;
    }
}
@media (min-width: 1366px) {
    .fixed-form {
        max-width: 2000px;
        left: inherit;
    }
}