* {
	margin: 0px;
    padding: 0px;
}

/*    -HEADER-    */
.header {
	position: relative;
    width: 100%;
    height: 1100px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section-header {
	position: relative;
	top: 20%;
	font-size: 30px;
	text-align: center;
}
.btn-header {
    margin-top: 30px;
    background-color: #dc8744;
    padding: 20px 20px 20px 20px;
    outline: none;
    color: white;
    border-radius: 25px;
    border: 0px;
    outline: none!important;
}
.btn-header:hover {
	cursor: pointer;
	background-color: #b15e1d;
}
.fixed-form {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    z-index: 2;
}
.popup-form {
	position: relative;
	display: block;
    width: 50%;
    height: auto;
    padding: 30px 35px;
    margin: 125px auto;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 7px;
    z-index: 5;
}
.popup-form p {
    text-align: center;
    margin-bottom: 15px;
    color: #000;
}
.form-message {
    color: #000;
}
.form-message {
    display: block;
    border: none;
    border-bottom: thin solid #000;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    outline: none;
}
.from-button {
    width: 100%;
    border: none;
    background-color: #dc8744;
    height: 45px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    border-radius: 7px;
    cursor: pointer;
}
.from-button input:hover {
    background-color: #b15e1d;
}
.close-form {
	position: absolute;
    font-size: 30px;
    top: 0;
    right: 15px;
    cursor: pointer;
    color: #000;
    margin-bottom: 0px;
}
.click-off-form {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0);
    z-index: 3;
}
/*    -END HEADER-    */

/*    -MAIN-    */
.about {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgb(247, 247, 247);
    transition: .5s ease-in-out;
}
.about-personal {
    padding: 60px 10px;
}
.about-personal h2 {
    font-size: 30px;
    color: #3e3838;
}
.about-description {
    margin-left: 45px;
}
.about-description li {
    color: #ffc42c;
}
.about-description span {
    color: #71678e;
    font-size: 20px;
}
.about-personal p {
    font-size: 25px;
    color: #3e3838;
    font-weight: bold;
    margin-top: 80px;
}
.left-column {
    width: 100%;
    float: left;
}
.right-column {
    width: 40%;
    float: left;
    margin-top: 30px;
}
.right-column img {
    width: 80%;
    max-height: 400px;
}
.portfolio {
    width: 100%;
    height: 500px;
    background-color: rgb(232, 229, 229);
}
h3 {
    text-align: center;
    font-size: 25px;
    color: #3e3838;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-top: 50px;
}
.swiper-container {
    width: 300px;
    height: 300px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: auto;
} 
.swiper-slide a {
    width: 300px;
    height: 300px;
    z-index: 98;
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*    -END MAIN-    */

/*    -FOOTER-    */

.contacts {
    position: relative;
    width: 100%;
    height: 580px;
    background: url(../images/bg-footer.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contacts h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.contacts-adress {
    text-align: center;
    float: left;
    width: 32%;
    font-weight: bold;
    font-size: 28px;
    margin-top: 50px;
}

/*    -END FOOTER-    */